*~
.#*
.git
*#

# os x stuff
*Thumbs.db*
*.DS_Store

# Build artifacts
build
out
bin

# Eclipse files
.classpath
.project
.settings

# Intellij IDEA files
*.ipr
*.iws
*.iml
/.idea

# gradle
.gradle

# local settings
local.properties

### Frontend Dependencies ###
node_modules/

### Frontend Bundle ###
src/main/resources/static/*
src/main/resources/templates/*
